@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-header: "Roboto", sans-serif;

  --color-primary: #2e3b4d;
  --color-secondary: #d10000;
  --color-slate-950: #1a232e; /* Adjusting dark background to match primary palette */
}

@layer base {
  body {
    @apply bg-primary text-slate-200 antialiased font-sans;
    background-image: radial-gradient(
      circle at 50% -20%,
      #2e3b4d 0%,
      #1a232e 100%
    );
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }
}
